#container {
	width: 475px;
	margin: 0 auto;
	background: #fff;

}



}#header {
	width: 100%;
	height: 60px;
	border-bottom:1px solid #c7c7c7;
	background: #333;
}

#logo {
	float: left;
	width: 40px;
	height: 40px;
}
#top_info {
	float: right;
	width: 200px;
	height: 40px;
	background: #666;
	border: 1px solid #c7c7c7;
	margin: 10px;
	color: lightblue;
}

#navbar {
	height: 20px; 

	clear: both;	 
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navbar ul li {
	padding: 10px;
	float: left;
}

#navbar ul li a {
	font-size: 12px;
	float: left;
	display: block;
	padding: 0 0 0 20px;
}


/* CSS for classes */
#container2{
	clear: left;
	
}
.text-center2 {
    text-align: center;
   	margin-left: 35%;
}

.text-center1 {
    text-align: center;
    margin: 10% auto;
}

.text-center {
    text-align: center;
    margin-left: 20%;
}

.check{
	padding-left: 3%;
	padding-top: 3%;
}


.steps{
	margin-left: 10%;

}

.steps2{
	margin-left: 10%;
}


.amount{
	padding-left: 4%;
}

.video-title{
	padding-left: 3%;
}

.youtube-player{
	margin-left: 2.5%;
	margin-bottom: 3%;
}

.text-justify {
	margin: 0 auto;
	padding-right: 3%; 
	padding-left: 3%;
	text-align: justify;
    //font-size: 20px;
}

.text-justify2 {
	margin: 0 auto;
	padding-right: 3%; 
	padding-left: 3%;
	text-align: justify;
    font-size: 20px;
}


.text-center5{
	margin: 0 15%;

	text-align: center;

}

/* CSS for tags */
html {
		background-color: #050505;
}


body{
	width: 450px; 
	border: 5px solid #84b4b1; 
	margin: 50px auto; 
	background-color: #fff;
}

label {

float: left;
	width: 40%;
	margin-left: 3%;
}

input{
	margin-left: 3%;
	width: 90%;
	background-color: #84b4b1;
    text-align: right;

}

form {
	background-color: #f1f1f1; 
	padding: 15px 30px;
    
}


button{
	background-color: #ffffff;
	padding: 2px 3px 3px 3px;
}

button:hover {
    background-color: #84b4b1;
}:
%



/* Media Queries */
@media (min-width: 320px){
	body {width:90%; font-size: 70%}
	label {width:60%;}
	button {width:100%;}
	.youtube-player{ width: 95%; }
	.text-center {width: 95%; margin: 10% 2%;}
	.text-center2 {width: 80%; margin: 0 10%;}	
}

@media (min-width: 360px){
	body {width:95%; font-size: 70%}
	label {width:69%;}
	.youtube-player{ width: 95%; }
	.text-center {width: 90%; margin-left: 5%; margin-right: 5%;}
	.text-center2 {width: 80%; margin: 5% 10%;}
}

@media (min-width: 450px){
	body {width:100%; font-size: 80%}
	label {width:69%;}
	.youtube-player{ width: 95%; }
	.text-center {width: auto;}
	.text-center2 {width: 80%; margin: 5% 10%;}
}

@media (min-width: 768px){
	body {width:50%; font-size: 90%}
	label {width:69%;}
	button {width:auto;}
	.youtube-player{ width: 95%; }
	.text-center {margin: 10% 13%};
}

@media (min-width: 980px){
	body {width:40%; font-size: 100%}
	label {width:69%;}
	button {width:auto;}
	.youtube-player{ width: 95%; }
	.text-center {margin: 10% 20%};
}


@media (min-width: 1280px){
	body {width:35%; font-size: 100%}
	label {width:69%;}
	button {width:auto;}
}

@media (min-width: 1920px){
	body {width:25%; font-size: 100%}
	label {width:69%;}
	button {width:auto;}
}
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help